body {
	font-family: "Montserrat", sans-serif;
  background-color: #13182a;
}

.title-site {
  font-size: 25px;
  font-weight: 500;
  color: #e3e6f2;
}
.picture-description {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 1px;
	font-size: 14px;
  font-style: italic;
  font-weight: 300;
  color: #e3e6f2;
}
.about-me-title {
  font-size: 20px;
  font-weight: 500;
	color: #e3e6f2;
	margin-bottom: 1px;
	margin-top: 35px;
}
.about-me {
  font-size: 15px;
  font-weight: 400;
  color: #e3e6f2;
}
.list {
  font-weight: 400;
  color: #e3e6f2;
}
.list1 {
	font-size: 18px;
}
.list2 {
	font-size: 15px;
}
.list3 {
	font-size: 17px;
}
.list4 {
	font-size: 16px;
}
.picture {
	border-radius: 10px;
	width: 250px;
}
.info-destaque {
	font-weight: bold;
}
.navegar-pag {
	font-size: 15px;
  font-weight: 500;
	color: #e3e6f2;
	margin: 20px;	
}
.indice-title {
	font-size: 18px;
  font-weight: 500;
	color: #e3e6f2;
	margin-bottom: 0px;
}
.indice {
	font-size: 15px;
  font-weight: 500;
	color: #e3e6f2;
}